.forms{
  display:flex;
  align-items: center;
  justify-content: center;

}
.mt{
  margin-top: 1rem;
  

  top:0;
  left:0;
  width:;



}
.myforms{

}
.loginModal{
  width:40vw;
  height:80vh;
  margin-left:30vw;
  margin-top:3vw;
  padding:2rem;
  border:0;

}
@media screen and(max-width:768px){
  .mt{
    position:relative;
  }
}
